html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #6c6f73;
  padding: 0px 200px;
}

h2,h3,h4,h5 {
  color: #6c6f73;;
}

h1 {
  color: #6c6f73;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

img {
  max-width: 100%;
}


/*NAVBAR*/

.navbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #838387;
  background-color: #f1f2f2 !important;
  padding: 10px 100px;
  margin: 0;
  justify-content: space-between;
  /* text-indent: 100px; */
}

/* .nav-item {
  display: block;
  align-items: center;
  text-indent: 100px;
} */

ul li a:hover {
 background-color: #f1f2f2 !important;
 color: #0066a3 !important;
 text-decoration: none;
}

@media screen and (max-width: 992px) {
  ul li a:hover {
   background-color: #ac5ba0 !important;
   opacity: 0.75;
   color: #f1f2f2 !important;
   text-decoration: none;
  }
}


.active {
  color: #ac5ba0 !important;
  margin-left: 0;
}


/* HOME Stage */

#stage {
  margin-top: 5vh;
  padding: 20px;
  display: flex;
  border-style: solid;
  border-color: #d1d3d4;
  border-width: 25px;
  justify-content: center;
}

.stageLogo {
  display: flex;
  align-self: center;
}

#stage img{
  width: 50%;
  height: 75%;
  object-fit: contain;
  padding: 50px;
}

@media screen and (max-width: 992px) {
  #carouselExampleIndicators img{
    width: 100%;
    height: 500% !important;
    padding: 0px;
  }
}

/* PORTFLIO */

#portfolioOne {
  margin-top: 5vh;
}
.image-fluid {
  width:100%;
  max-width:600px;
}
.jumbotron {
  text-align: center;
  padding: 20px;
  margin: 10px 0;
}

.gallery {
  padding: 40px;
}

.gallery img {
  width: 100%;
  border-radius: 0;
  position: relative;
}


/* ABOUT US */

#aboutOne {
  background-image: url("./img/gradientBkgd.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 500px;
}

#theDesigner, {
  background-color: #ac5ba0;
}

#designProcess {
  background-color: #0066a3;
}

h1 .pink {
  color: #ac5ba0 !important;
}

.pink:hover,
.pink:active,
.pink:visited {
  color: #ac5ba0 !important;
  text-decoration: underline !important;
}

h1 .blue:hover {
  color: #0066ae;
}
/* DESIGNER */

#designer {
  margin-bottom: 0;
}

#nameTag {
  padding: 1.5vw;
}

#designerPic {
  /* margin-top: -100px;
  padding: 0;
  position: fixed; */
  width: 40vw !important;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@media screen and (max-width: 992px) {
  /* #nameTag {
    width: 50vw;
    position: fixed;
    background-attachment: fixed;
    order: 1;
  }


  #designerPic {
    width: 80vw;
    order: 2;
  } */
}


.bio {
  padding: 0;
}

/* PROCESS */

.process{
  padding: 50px;
}


/* PACKAGES */

#packagesOne {
 margin-top: 10vh;
}

.headerOne {
  background-color: #ac5ba0;
}

.headerTwo {
  background: rgb(172,91,160);
  background: linear-gradient(90deg, rgba(172,91,160,1) 0%, rgba(0,212,255,1) 50%, rgba(0,102,163,1) 100%);
}

.headerThree {
  background-color: #0066a3;
}

.subtitle {
  display: flex;
  padding: 75px 100px 0px 100px;
  justify-content: center;
  align-content: center;
  align-self: center;
}

a:visited > .text-muted,
.text-muted,
.text-muted:active {
  color: white !important;
}
/* RETAINER PROGRAM */

.title {
  margin-top: 5vh;
  padding: 20px;
  display: flex;
  border-style: solid;
  border-color: #f1f2f2;
  border-width: 25px;
  justify-content: center;
}

#retainerOne {
  background-image: url("./img/RetainerBackground.png");
  background-position: center;
  background-size: cover;
}

.containerTwo {
  margin: 50px 25px;
  padding: 100px 250px;
}

@media screen and (max-width: 992px) {
  .containerTwo {
    margin: 50px 25px;
    padding: 15px;
  }
}

.btn-block:hover {
  border-color: #ac5ba0;
  background-color: white;
  color: #ab5ba0;
}

.btn-outline-primary {
  border-color: #ac5ba0 !important;
  color: #ac5ba0 !important;
}


/* CONTACT */

#contactOne {
  padding-bottom: 50px;
}

.contactLogo {
  padding: 50px;
  width: 25vw;
}


.dropDown {
  margin: 10px !important;
}
